# Eclipse files
.buildpath
.settings/*
.project

# The site config file
lib/config.php

# Gedit files
*~

# Anything in data/
data/

# Composer files, except dependencies not managed by composer
vendor/*
!vendor/zbench
!vendor/wikitext
!vendor/.htaccess

# Test resutls
coverage/

